<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BUS API</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['']">Home</a></li>
          <li><a [routerLink]="['/buses']">Buses</a></li>
          <li *ngIf = "url == false"><a [routerLink]="['/login']">Login</a></li>
          <li *ngIf = "url == true"><a (click)="logout()">Logout</a></li>
          <li *ngIf = "url == true"><a>{{username}}</a></li>
        </ul>
      </div>
    </div>
  </nav>